<!DOCTYPE html>
{% load static %}
<html lang="en">


{% include "navbar.html" %}


            <div class="container-fluid pt-4 px-4">
                <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Churidar set measurement Form</h6>
                            <form action="/save_ch_measure/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <input type="hidden" name="customer_id" value="{{cust.id}}">
                            <!-- Customer Name -->
                            <div class="row mb-4">
                                <label class="col-sm-2 col-form-label">Customer Name</label>
                                <div class="col-sm-5">
                                    <input type="text" name="customer_name" class="form-control" value="{{ cust.name }}" readonly>
                                </div>
                            </div>

                            <!-- TWO COLUMN LAYOUT -->
                            <div class="row">

                                <!-- LEFT : TOP MEASUREMENTS -->
                                <div class="col-md-6">
                                    <h6 class="mb-3">👗 Top Measurements – Churidar</h6>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Full length</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="flength" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Point</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="point" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Tuck</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="tuck" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Yoke</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="yoke" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">P.W</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="pw" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Slit</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="slit" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Shoulder</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="shoulder" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Sleeve length</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="sl" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Sleeve round</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="sr" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Muscle</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="muscle" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Arm Hole</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="ah" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Armpit F</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="armf" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Armpit B</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="armb" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Chest</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="chest" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Bust</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="bust" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Waist</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="waist1" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Hip</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="hip" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Seat</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="seat" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Neck F</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="neckf" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Neck B</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="neckb" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Neck W</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="neckw" class="form-control" >
                                        </div>
                                    </div>

                                </div>

                                <!-- RIGHT : BOTTOM MEASUREMENTS -->
                                <div class="col-md-6">
                                    <h6 class="mb-3">👖 Bottom Measurements – Churidar</h6>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Waist</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="waist2" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Length</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="length" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Width</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="width" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Knee L</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="kneel" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Knee R</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="kneer" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Thigh L</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="thl" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Thigh R</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="thr" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Down Flare</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="dfl" class="form-control" >
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- SUBMIT -->
                            <div class="mt-4">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>

                            </form>
                        </div>
                    </div>
            </div>





        </div>
        <!-- Content End -->



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/chart/chart.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        document.querySelectorAll("form").forEach(function(form) {

            form.addEventListener("keydown", function(e) {

                if (e.key === "Enter" && !e.ctrlKey) {
                    e.preventDefault();

                    const index = Array.prototype.indexOf.call(form.elements, e.target);

                    if (form.elements[index + 1]) {
                        form.elements[index + 1].focus();
                    }
                }

                if (e.key === "Enter" && e.ctrlKey) {
                    form.submit();
                }

            });

        });
    </script>
</body>

</html>