<!DOCTYPE html>
{% load static %}
<html lang="en">

{% include "navbar.html" %}

            <!-- table Start -->
            <div class="container-fluid pt-4 px-4">


                <a href="/add_customer" type="button" class="btn btn-lg btn-secondary m-2">Add customer</a>

                <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Customers</h6>
                            <form method="get" class="d-flex align-items-end gap-3 ms-4">
                                <div style="min-width: 420px;">
                                    <label class="form-label small fw-bold">Search</label>
                                    <input type="search"
                                           class="form-control bg-dark text-light border border-secondary"
                                           placeholder="Customer name / ID / phone number / email ID"
                                           name="search_general"
                                           value="{{ request.GET.search_general }}">
                                </div>

                                <button type="submit" class="btn btn-sm btn-primary">Filter</button>
                                <a href="/customers/" class="btn btn-sm btn-outline-primary">Clear</a>
                            </form>
                            <br><br>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Customer ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Phone Number</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    {% for i in cust %}
                                    <tbody>
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{i.custid}}</td>
                                            <td>{{ i.name }}</td>
                                            <td>{{i.phone}}</td>
                                            <td>{{i.email}}</td>
                                            <td>{{i.address}}</td>

                                            <td>
                                                <a href="/edit_customer/{{i.id}}">Edit</a><br><br>
                                                <a href="/delete_customer/{{i.id}}">Delete</a><br><br>

                                                <a href="{% url 'new_order' i.id %}">New order</a><br><br>

                                                <button
                                                    class="btn btn-primary"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#selectMeasurementModal"
                                                    data-customer-id="{{ i.id }}">
                                                    Add Measurements
                                                </button>

                                            </td>

                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                </div>
            </div>

            <!-- table End -->


        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


    <div class="modal fade" id="selectMeasurementModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Select Measurement Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body text-center">

                    <a id="churidarLink" class="btn btn-outline-primary w-100 mb-2">
                        Churidar
                    </a>

                    <a id="sareeLink" class="btn btn-outline-success w-100">
                        Saree
                    </a>

                </div>

            </div>
        </div>
    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/chart/chart.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        document.getElementById('selectMeasurementModal')
            .addEventListener('show.bs.modal', function (event) {

                const button = event.relatedTarget;
                const customerId = button.getAttribute('data-customer-id');

                document.getElementById('churidarLink').href =
                    `/add_churidar_measurement/${customerId}/`;

                document.getElementById('sareeLink').href =
                    `/add_saree_measurement/${customerId}/`;
            });
    </script>
</body>

</html>