<!DOCTYPE html>
{% load static %}
<html lang="en">


{% include "navbar.html" %}


            <div class="container-fluid pt-4 px-4">
                <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Edit saree set measurements</h6>
                            <form action="/update_sr_measure/{{data.id}}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <input type="hidden" name="customer_id" value="{{ data.customer.id }}">
                            <!-- Customer Name -->
                            <div class="row mb-4">
                                <label class="col-sm-2 col-form-label">Customer Name</label>
                                <div class="col-sm-5">
                                    <input type="text" name="customer_name" class="form-control" value="{{ data.customer.name }}" readonly>
                                </div>
                            </div>

                            <!-- TWO COLUMN LAYOUT -->
                            <div class="row">

                                <!-- LEFT : TOP MEASUREMENTS -->
                                <div class="col-md-6">
                                    <br><br>
                                    <h6 class="mb-3">👚 Top Measurements – Blouse</h6>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Full length</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="flength" value="{{data.flength}}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Point</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="point" value="{{data.point}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Tuck</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="tuck" value="{{data.tuck}}" class="form-control" >
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">P.W</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="pw" value="{{data.pw}}" class="form-control" >
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Shoulder</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="shoulder" value="{{data.shoulder}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Sleeve length</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="sl" value="{{data.sl}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Sleeve round</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="sr" value="{{data.sr}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Muscle</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="muscle" value="{{data.muscle}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Arm Hole</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="ah" value="{{data.ah}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Armpit F</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="armf" value="{{data.apf}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Armpit B</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="armb" value="{{data.apb}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Chest</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="chest" value="{{data.chest}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Bust</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="bust" value="{{data.bust}}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Waist</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="waist1" value="{{data.waist1}}" class="form-control" >
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Neck F</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="neckf" value="{{data.neckf}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Neck B</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="neckb" value="{{data.neckb}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Neck W</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="neckw" value="{{data.neckw}}" class="form-control" >
                                        </div>
                                    </div>

                                </div>

                                <!-- RIGHT : BOTTOM MEASUREMENTS -->
                                <div class="col-md-6">
                                    <br><br>
                                    <h6 class="mb-3">👖 Bottom Measurements – Under skirt</h6>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Waist</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="waist2" value="{{data.waist2}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Length</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="length1" value="{{data.length1}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Down Width</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="dwidth" value="{{data.dwidth}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Knee L</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="kneel" value="{{data.kneel}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Knee R</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="kneer" value="{{data.kneer}}" class="form-control" >
                                        </div>
                                    </div>



                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Seat</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="seat" value="{{data.seat}}" class="form-control" >
                                        </div>
                                    </div>
                                    <br><br>

                                    <h6 class="mb-3">🥻 Measurements – Ready to wear saree</h6>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Waist</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="waist3" value="{{data.waist3}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Length</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="length2" value="{{data.length2}}" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label">Pallu</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="pallu" value="{{data.pallu}}" class="form-control" >
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- SUBMIT -->
                            <div class="mt-4">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>

                            </form>
                        </div>
                    </div>
            </div>

        </div>
        <!-- Content End -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/chart/chart.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>