<!DOCTYPE html>
{% load static %}
<html lang="en">

{% include "navbar.html" %}

            <!-- table Start -->
            <div class="container-fluid pt-4 px-4">

                <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Staff Salary History</h6>
                            <div class="filter-container">

                                <form method="get" class="d-flex flex-wrap gap-2 align-items-end ms-4">
                                    <div class="flex-grow-1 flex-md-grow-0" style="min-width: 150px;">
                                        <label class="form-label text-xs fw-bold">Search</label>
                                        <input type="search"
                                               class="form-control form-control-sm bg-dark text-light"
                                               placeholder="Staff id/Name"
                                               name="search_staff"
                                               value="{{ request.GET.search_staff }}">
                                    </div>

                                    <div class="flex-grow-1 flex-md-grow-0" style="min-width: 150px;">
                                        <label class="form-label text-xs fw-bold">Salary Status</label>
                                        <select name="search_status" class="form-select form-select-sm">
                                            <option value="">All Statuses</option>
                                            <option value="paid" {% if request.GET.search_status == "paid" %}selected{% endif %}>Paid</option>
                                            <option value="pending" {% if request.GET.search_status == "pending" %}selected{% endif %}>Pending</option>
                                        </select>
                                    </div>

                                    <div class="flex-grow-1 flex-md-grow-0" style="min-width: 150px;">
                                        <label class="form-label text-xs fw-bold">Month</label>
                                        <input type="month"
                                               name="search_month"
                                               value="{{ request.GET.month }}"
                                               class="form-control form-control-sm bg-light text-dark">
                                    </div>

                                    <button type="submit" class="btn btn-sm btn-primary">
                                        Filter
                                    </button>

                                    <a href="/salary_history/" class="btn btn-sm btn-outline-primary">
                                        Clear
                                    </a>

                                    <button type="button" onclick="exportData()" class="btn btn-link text-success p-0 me-3">
                                        <i class="fas fa-download"></i>Export
                                    </button>

                                </form>
                            </div><br>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Staff ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Salary Date</th>
                                            <th scope="col">Salary</th>
                                            <th scope="col">Over Time</th>
                                            <th scope="col">Advance Payment</th>
                                            <th scope="col">Pending Amount</th>
                                            <th scope="col">Total salary</th>
                                            <th scope="col">Status</th>

                                        </tr>
                                    </thead>
                                    {% for i in data %}
                                    <tbody>
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{i.staff.staffid}}</td>
                                            <td>{{ i.staff.name }}</td>
                                            <td>{{i.date}}</td>
                                            <td>{{i.fixed_salary}}</td>
                                            <td>{{i.total_overtime}}</td>
                                            <td>{{ i.advance_sum|default:0 }}</td>
                                            <td>{{ i.pending_sum|default:0 }}</td>
                                            <td>{{i.total_salary}}</td>
                                            <td>

                                                <small>
                                                    {{i.status | capfirst}}<br>
                                                    <button class="btn btn-sm btn-outline-primary py-0 px-1"
                                                          data-bs-toggle="modal"
                                                          data-bs-target="#statusModal{{ i.id }}">
                                                    ✏️
                                                    </button>
                                                </small>

                                            </td>


                                        </tr>
                                    </tbody>
                                    <div class="modal fade" id="statusModal{{ i.id }}" tabindex="-1">
                                      <div class="modal-dialog modal-sm modal-dialog-centered">
                                        <div class="modal-content">
                                          <form method="post" action="{% url 'update_pay_status' i.id %}">
                                            {% csrf_token %}
                                            <div class="modal-header py-2">
                                              <h6 class="modal-title">Update Status</h6>
                                              <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal"></button>
                                            </div>

                                            <div class="modal-body py-2">
                                              <select name="status" class="form-select form-select-sm" required>
                                                <option value="paid" {% if i.status == "paid" %}selected{% endif %}>Paid</option>
                                                <option value="pending" {% if i.status == "pending" %}selected{% endif %}>Pending</option>
                                              </select>
                                            </div>

                                            <div class="modal-footer py-1">
                                              <button type="submit" class="btn btn-sm btn-success">Save</button>
                                            </div>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                    {% endfor %}
                                </table>

                            </div>
                        </div>
                </div>
            </div>
                                <nav>
                                    <ul class="pagination pagination-sm justify-content-center mt-3">

                                        {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode|cut:'page=' }}">
                                                «
                                            </a>
                                        </li>
                                        {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link">«</span>
                                        </li>
                                        {% endif %}

                                        {% for num in page_obj.paginator.page_range %}
                                            {% if page_obj.number == num %}
                                                <li class="page-item active">
                                                    <span class="page-link">{{ num }}</span>
                                                </li>
                                            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="?page={{ num }}&{{ request.GET.urlencode|cut:'page=' }}">
                                                        {{ num }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode|cut:'page=' }}">
                                                »
                                            </a>
                                        </li>
                                        {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link">»</span>
                                        </li>
                                        {% endif %}

                                    </ul>
                                </nav>
                                <p class="text-center text-muted small">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </p>

            <!-- table End -->
            <div class="modal fade" id="statusModal" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <form method="post" id="statusForm">
                  {% csrf_token %}
                  <div class="modal-content">

                    <div class="modal-header">
                      <h5 class="modal-title">Change Status</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                      <select name="status" id="statusSelect" class="form-control">
                        <option value="paid">Paid</option>
                        <option value="pending">Pending</option>
                      </select>
                    </div>

                    <div class="modal-footer">
                      <button class="btn btn-primary" type="submit">Update</button>
                    </div>

                  </div>
                </form>
              </div>
            </div>

            <div class="modal fade" id="overtimeModal" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                  <div class="modal-header">
                    <h5 class="modal-title text-dark">Overtime Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <div class="modal-body">
                    <p><strong>Staff:</strong> <span id="otName"></span></p>
                    <p><strong>Total Overtime:</strong> <span id="otValue"></span></p>

                    <p><strong>Overtime Dates:</strong></p>
                    <ul id="otDates" class="list-group list-group-flush"></ul>
                  </div>


                </div>
              </div>
            </div>

        </div>
        <!-- Content End -->


        <!-- Back to Top -->
<!--        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>-->
<!--    </div>-->


    <div class="modal fade" id="selectMeasurementModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Select Measurement Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body text-center">

                    <a id="churidarLink" class="btn btn-outline-primary w-100 mb-2">
                        Churidar
                    </a>

                    <a id="sareeLink" class="btn btn-outline-success w-100">
                        Saree
                    </a>

                </div>

            </div>
        </div>
    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/chart/chart.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
    function exportData() {
        const params = new URLSearchParams(window.location.search);
        window.location.href = "/export-salary-csv/?" + params.toString();
    }
    </script>





</body>

</html>